/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 27, 2024, 9:02:05 PM
    Author     : quatn
*/

.slider {
    & img {
        height: 500px; 
        object-fit: contain;
        background: rgba(0, 0, 0, 0.5);
    }

}

.featured-subject {
    & .card {
        width: 300px;
        min-width: 300px !important;
        margin: 10px 10px;
        transition-duration: 0.5s;
        
        & img {
            height: 200px;
            object-fit: cover;
        }
    }
    
    & .card:hover {
        transform: scale(1.05);
    }
    
    margin: 30px 0;
    padding: 30px;
    background-color: #F4F2EE;
    border-radius: 10px;
}

.post-list {
    & .card {
        width: 65%;
        margin: 30px auto;
        object-fit: contain;
        
    }
    
    & .profilePic {
        width: 50px;
        height: 50px;
        margin: 10px;
        float: left;
    }
    
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}

