/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

#subject-status {
    transform: translate(0, -25%);
}

#img-div {
    border: 1px solid black;
    background-color: white;
    height: 100%;
}

#subject-thumbnail {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
