/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

#subject-status {
    transform: translate(0, -25%);
}

#img-div {
    border: 1px solid black;
    background-color: white;
    height: 275px;
}

#subject-thumbnail {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#expert-search-div {
    margin-bottom: 600px;
}

#search-result {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    overflow-y: scroll;
    display: none;
}

.result-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bi-person-circle::before {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 54px;
    width: 48px;
    height: 48px;
    font-size: 44px;
}

.experts {
    cursor: pointer;
}

    .notification {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 16px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .show {
        opacity: 1;
        visibility: visible;
    }