#subject-brief {
    position: relative;
    box-sizing: border-box;  
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0) 0, rgba(0,0,0,0) 150px, #f1f2f7 350px, #f1f2f7);
    box-shadow: 5px 5px 5px 0px;
}

#subject-thumbnail {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}