/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 1:35:08 PM
    Author     : quatn
*/

#upload {
   opacity: 0;
   height: 0;
   position: absolute;
   z-index: -1;
}

#upload-label {
   position: absolute;
   bottom: 0;
   left: 0;
   cursor: pointer;
   opacity: 0.6;
   color: white;
   width: 100%;
   background-color: black;
}

#upload-submission {
    display: none;
}
