.blog-item {
    cursor: pointer;
    transition: 200ms transform;
}

.blog-read-more {
    opacity: 0.5;
    transition: opacity 300ms;
}

.blog-item:hover {
    transform: scale(1.02);
}

.blog-item:hover .blog-read-more {
    opacity: 1;
}

.blog-item-img {
    height: 200px;
    object-fit: cover;
}


.blog-item:hover .card-title {
    text-decoration: underline;
}

.invisible-link {
    color: initial;
    text-decoration: none;
}
