.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.blog-sidebar {
    position: sticky;
    top: 20px;
}

.blog-main-section {
    height: 80%;
}