/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2024, 7:15:19 AM
    Author     : QuanNM

    This extends the body element and set it to flex display, then set the main element to flex-grow.
    This will make it so that IF there's not enough content on the screen the footer will still stick to the bottom of the screen (if you place all of the body's content on 3 tags that is header main footer)
*/

html {
    min-height: 100%;
    display: flex;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex-grow: 1;
}